@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

body {
  font-family:  Roboto, Helvetica, san-serif;
  color: #000;
}

section{
  margin-top: 14px;
}

h1.name {
  font-size: 98px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -.01em;
  line-height: 80px;
  margin-bottom: 10px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #888;
}

.title a  {
  color: #aaa;
  margin-right: 8px;
}

.title a:hover {
  color: #000;
}

.block {
  border-top: thick solid black;
  margin-bottom: 2em;
}

.block-head {
  margin-top: .7em;
  margin-bottom: .7em;
  font-size: 2em; 
  font-weight: 900;
  line-height: .9em;
  text-transform: uppercase;
}

.element-head {
  border-top: thin solid black;
  padding-top: 1em;
  margin-top: .7em;
  margin-bottom: .4em;
  font-size: 1.5em;
  font-weight: 600;
  line-height: .9em;
}

.element-head a:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.element-subhead {
  margin-bottom: .4em;
  font-size: 1.2em;
  font-weight: 600;
  line-height: .9em;
  color: #777;
}

.date {
  margin-top: .7em;
  margin-bottom: 1.5em;
  font-size: 1em;
  font-weight: 500;
  line-height: .9em;
  color: #888;
}

p {
  margin-bottom: .3em;
  line-height: 20px;
  font-weight: 300;
  font-size: 14px;
}

footer {
  color: #AAA;
}

a {
  color: #000;
}

.about-paragraph-first {
  border-top: thin solid black;
  padding-top: 1.4em;
  margin-bottom: 12px;
  line-height: 20px;
  font-weight: 300;
  font-size: 14px;
}

.about-paragraph {
  margin-bottom: 12px;
  line-height: 20px;
  font-weight: 300;
  font-size: 14px;
}

.glyphicon-stop {
  color: #BBB;
}

.fa-external-link {
  color: #999;
}


